<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.mospolytech.therapy_cabinet.mybatis.mappers.CalendarMapper">

    <!--maps-->
    <resultMap id="CalendarMap" type="ru.mospolytech.therapy_cabinet.models.domain.Calendar">
        <id column="date" property="date"/>
        <result column="morning_count" property="morningCount"/>
        <result column="day_count" property="dayCount"/>
    </resultMap>

    <!--queries-->
    <select id="read" parameterType="map" resultMap="CalendarMap">
        select date, count(*) FILTER (WHERE time_period = 0) as "morning_count", count(*) FILTER (WHERE time_period = 1) as "day_count"
        from doc.therapy
        where date &gt;= #{startDate}::date and date &lt;= #{endDate}::date
        group by date
        order by date
    </select>

</mapper>