<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.mospolytech.therapy_cabinet.mybatis.mappers.IndexTypeMapper">

    <!--maps-->
    <resultMap id="IndexTypeMap" type="ru.mospolytech.therapy_cabinet.models.domain.IndexType">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="lolimnum" property="lowerLimitNumeric"/>
        <result column="uplimnum" property="upperLimitNumeric"/>
    </resultMap>

    <!--queries-->
    <select id="create" parameterType="map">
        insert into doc.index_type (name, lolimnum, uplimnum)
        values (#{indexType.name}, #{indexType.lowerLimitNumeric}, #{indexType.upperLimitNumeric})
    </select>

    <select id="read" parameterType="map" resultMap="IndexTypeMap">
        select id, name, lolimnum, uplimnum
        from doc.index_type
        where id = #{id};
    </select>

    <update id="update" parameterType="map">
        update doc.index_type
        set
        <if test="indexType.name != null">name = #{indexType.name},</if>
        <if test="indexType.lowerLimitNumeric != null">lolimnum = #{indexType.lowerLimitNumeric},</if>
        <if test="indexType.upperLimitNumeric != null">uplimnum = #{indexType.upperLimitNumeric},</if>
        -- FIXME: changed field set to now() even if nothing changed
        changed = now()
        where id = #{indexType.id};
    </update>

    <delete id="delete" parameterType="map">
        delete
        from doc.index_type
        where id = #{id};
    </delete>

    <select id="readAll" parameterType="map" resultMap="IndexTypeMap">
        select id, name, lolimnum, uplimnum
        from doc.index_type
                 limit #{limit} offset #{offset};
    </select>

</mapper>