<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.mospolytech.therapy_cabinet.mybatis.mappers.LabEventMapper">
    <resultMap id="LabEventMap" type="ru.mospolytech.therapy_cabinet.models.domain.labevent.LabEventRead">
        <id column="id" property="id"/>
        <result column="value" property="value"/>
        <result column="valuenum" property="valueNumeric"/>
        <result column="comments" property="comments"/>
        <result column="taken" property="taken"/>
        <result column="aflag" property="abnormalityFlag"/>
        <association columnPrefix="patient_" property="patient"
                     javaType="ru.mospolytech.therapy_cabinet.models.domain.Patient"
                     resultMap="ru.mospolytech.therapy_cabinet.mybatis.mappers.PatientMapper.PatientMap"/>
        <association columnPrefix="labtype_" property="labType"
                     javaType="ru.mospolytech.therapy_cabinet.models.domain.LabType"
                     resultMap="ru.mospolytech.therapy_cabinet.mybatis.mappers.LabTypeMapper.LabTypeMap"/>
    </resultMap>

    <insert id="create" parameterType="map">
        insert into std_1305_therapy.labevent (id, patient_id, labtype_id, value, valuenum, comments, taken, aflag)
        values (#{labEvent.id}, #{labEvent.patientId}, #{labEvent.labTypeId}, #{labEvent.value},
                #{labEvent.valueNumeric}, #{labEvent.comments}, #{labEvent.taken}, #{labEvent.abnormalityFlag});
    </insert>

    <select id="read" parameterType="map" resultMap="LabEventMap">
        select labevent.id               as id,
               patient_id,
               labtype_id,
               value,
               valuenum,
               comments,
               taken,
               aflag,
               patient.id                as patient_id,
               patient.full_name         as patient_full_name,
               patient.phone_number      as patient_phone_number,
               patient.adverse_reactions as patient_adverse_reactions,
               patient.date_of_birth     as patient_date_of_birth,
               patient.sex               as patient_sex,
               labtype.id                as labtype_id,
               labtype.name              as labtype_name,
               labtype.specimen          as labtype_specimen,
               labtype.mu                as labtype_mu,
               labtype.lolim             as labtype_lolim,
               labtype.lolimnum          as labtype_lolimnum,
               labtype.uplim             as labtype_uplim,
               labtype.uplimnum          as labtype_uplimnum
        from std_1305_therapy.labevent
                 left join std_1305_therapy.labtype labtype on labtype.id = labevent.labtype_id
                 left join std_1305_therapy.patient patient on patient.id = labevent.patient_id
        where labevent.id = #{id};
    </select>

    <update id="update" parameterType="map">
        update std_1305_therapy.labevent
        set
        <if test="labEvent.patientId != null">patient_id = #{labEvent.patientId},</if>
        <if test="labEvent.labTypeId != null">labtype_id = #{labEvent.labTypeId},</if>
        <if test="labEvent.value != null">value = #{labEvent.value},</if>

        <if test="labEvent.valueNumeric != null">valuenum = #{labEvent.valueNumeric},</if>
        <if test="labEvent.comments != null">comments = #{labEvent.comments},</if>
        <if test="labEvent.taken != null">taken = #{labEvent.taken},</if>
        <if test="labEvent.abnormalityFlag != null">aflag = #{labEvent.abnormalityFlag},</if>
        -- FIXME: changed field set to now() even if nothing changed
        changed = now()
        where id = #{id};
    </update>

    <delete id="delete" parameterType="map">
        delete
        from std_1305_therapy.labevent
        where id = #{id};
    </delete>

    <select id="readAll" parameterType="map" resultMap="LabEventMap">
        select labevent.id               as id,
               patient_id,
               labtype_id,
               value,
               valuenum,
               comments,
               taken,
               aflag,
               patient.id                as patient_id,
               patient.full_name         as patient_full_name,
               patient.phone_number      as patient_phone_number,
               patient.adverse_reactions as patient_adverse_reactions,
               patient.date_of_birth     as patient_date_of_birth,
               patient.sex               as patient_sex,
               labtype.id                as labtype_id,
               labtype.name              as labtype_name,
               labtype.specimen          as labtype_specimen,
               labtype.mu                as labtype_mu,
               labtype.lolim             as labtype_lolim,
               labtype.lolimnum          as labtype_lolimnum,
               labtype.uplim             as labtype_uplim,
               labtype.uplimnum          as labtype_uplimnum
        from std_1305_therapy.labevent
                 left join std_1305_therapy.labtype labtype on labtype.id = labevent.labtype_id
                 left join std_1305_therapy.patient patient on patient.id = labevent.patient_id
        limit #{limit} offset #{offset};
    </select>
</mapper>