<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.mospolytech.therapy_cabinet.mybatis.mappers.MedIndexMapper">

    <!--maps-->
    <resultMap id="MedIndexReadMap" type="ru.mospolytech.therapy_cabinet.models.domain.medindex.MedIndexRead">
        <id column="id" property="id"/>
        <result column="value" property="value"/>
        <result column="comments" property="comments"/>
        <result column="index_type" property="indexType"/>
        <result column="aflag" property="abnormalityFlag"/>
        <association columnPrefix="therapy_" property="therapy"
                     javaType="ru.mospolytech.therapy_cabinet.models.domain.therapy.TherapyCreate"
                     resultMap="ru.mospolytech.therapy_cabinet.mybatis.mappers.TherapyMapper.TherapyCreateMap"/>
    </resultMap>

    <resultMap id="MedIndexCreateMap" type="ru.mospolytech.therapy_cabinet.models.domain.medindex.MedIndexCreate">
        <id column="id" property="id"/>
        <result column="value" property="value"/>
        <result column="comments" property="comments"/>
        <result column="index_type" property="indexType"/>
        <result column="aflag" property="abnormalityFlag"/>
        <result column="therapy_id" property="therapyId"/>
    </resultMap>

    <!--queries-->
    <insert id="create" parameterType="map">
        insert into doc.medindex (id, therapy_id, index_type, value, comments, aflag)
        values (#{medIndex.id}, #{medIndex.therapyId}, #{medIndex.indexType.code}, #{medIndex.value},
                #{medIndex.comments}, #{medIndex.abnormalityFlag});
    </insert>

    <select id="read" parameterType="map" resultMap="MedIndexReadMap">
        select medindex.id               as id,
               index_type,
               value,
               medindex.comments         as comments,
               aflag,
               therapy.id                as therapy_id,
               therapy.date              as therapy_date,
               therapy.time_period       as therapy_time_period,
               therapy.status            as therapy_status,
               therapy.comments          as therapy_comments,
               therapy.patient_id        as therapy_patient_id
        from doc.medindex
                 left join doc.therapy therapy on therapy.id =  medindex.therapy_id
        where medindex.id = #{id};
    </select>

    <update id="update" parameterType="map">
        update doc.medindex
        set
        <if test="medIndex.indexType != null">index_type = #{medIndex.indexType.code},</if>
        <if test="medIndex.value != null">value = #{medIndex.value},</if>
        <if test="medIndex.comments != null">comments = #{medIndex.comments},</if>
        <if test="medIndex.abnormalityFlag != null">aflag = #{medIndex.abnormalityFlag},</if>
        -- FIXME: changed field set to now() even if nothing changed
        changed = now()
        where id = #{id};
    </update>

    <delete id="delete" parameterType="map">
        delete
        from doc.medindex
        where id = #{id};
    </delete>

    <select id="readAll" parameterType="map" resultMap="MedIndexCreateMap">
        select id,
               therapy_id,
               index_type,
               value,
               comments,
               aflag
        from doc.medindex
        limit #{limit} offset #{offset};
    </select>

    <select id="readAllBySearch" parameterType="map" resultMap="MedIndexCreateMap">
        select id,
               therapy_id,
               index_type,
               value,
               comments,
               aflag
        from doc.medindex
        where true
        <if test="therapyId != null">and therapy_id = #{therapyId}</if>
        <if test="indexType != null">and index_type = #{indexType}</if>
    </select>

</mapper>