<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.mospolytech.therapy_cabinet.mybatis.mappers.PatientMapper">

    <!--maps-->
    <resultMap id="PatientMap" type="ru.mospolytech.therapy_cabinet.models.domain.Patient">
        <id column="id" property="id"/>
        <result column="full_name" property="fullName"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="adverse_reactions" property="adverseReactions"/>
        <result column="date_of_birth" property="dateOfBirth"/>
        <result column="sex" property="sex"/>
        <result column="email" property="email"/>
        <result column="contact_person" property="contactPerson"/>
        <result column="ambulatory_card" property="ambulatoryCard"/>
        <result column="finance_source" property="financeSource"/>
    </resultMap>

    <!--queries-->
    <insert id="create" parameterType="map">
        insert into std_1305_therapy.patient (full_name, phone_number, adverse_reactions, date_of_birth, sex, email,
                                 contact_person, ambulatory_card, finance_source)
        values (#{patient.fullName}, #{patient.phoneNumber}, #{patient.adverseReactions},
                #{patient.dateOfBirth}, #{patient.sex.code}, #{patient.email}, #{patient.contactPerson},
                #{patient.ambulatoryCard}, #{patient.financeSource});
    </insert>

    <select id="read" parameterType="map" resultMap="PatientMap">
        select id, full_name, phone_number, adverse_reactions, date_of_birth,
               sex, email, contact_person, ambulatory_card, finance_source
        from std_1305_therapy.patient
        where id = #{id};
    </select>

    <update id="update" parameterType="map">
        update std_1305_therapy.patient
        set
        <if test="patient.fullName != null">full_name = #{patient.fullName},</if>
        <if test="patient.phoneNumber != null">phone_number = #{patient.phoneNumber},</if>
        <if test="patient.adverseReactions != null">adverse_reactions = #{patient.adverseReactions},</if>
        <if test="patient.dateOfBirth != null">date_of_birth = #{patient.dateOfBirth},</if>
        <if test="patient.sex != null">sex = #{patient.sex.code},</if>
        <if test="patient.email != null">email = #{patient.email},</if>
        <if test="patient.contactPerson != null">contact_person = #{patient.contactPerson},</if>
        <if test="patient.ambulatoryCard != null">ambulatory_card = #{patient.ambulatoryCard},</if>
        <if test="patient.financeSource != null">finance_source = #{patient.financeSource.code},</if>
        -- FIXME: changed field set to now() even if nothing changed
        changed = now()
        where id = #{patient.id};
    </update>

    <delete id="delete" parameterType="map">
        delete
        from std_1305_therapy.patient
        where id = #{id};
    </delete>

    <select id="readAll" parameterType="map" resultMap="PatientMap">
        select id, full_name, phone_number, adverse_reactions, date_of_birth,
               sex, email, contact_person, ambulatory_card, finance_source
        from std_1305_therapy.patient
        limit #{limit} offset #{offset};
    </select>

    <insert id="addPatientIcd" parameterType="map">
        insert into std_1305_therapy.patient_icd (patient_id, code)
        values (#{patientId}, #{icdCode});
    </insert>

    <select id="readPatientIcds" resultType="string" parameterType="map">
        select code
        from std_1305_therapy.patient_icd
        where patient_id = #{patientId};
    </select>

    <delete id="removePatientIcd" parameterType="map">
        delete
        from std_1305_therapy.patient_icd
        where patient_id = #{patientId}
          and code = #{icdCode};
    </delete>
</mapper>