<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.mospolytech.therapy_cabinet.mybatis.mappers.PrescriptionMapper">
    <resultMap id="PrescriptionMap" type="ru.mospolytech.therapy_cabinet.models.domain.prescription.PrescriptionRead">
        <id column="id" property="id"/>
        <result column="value" property="value"/>
        <result column="dose_amount" property="doseAmount"/>
        <result column="substance_amount" property="substanceAmount"/>
        <result column="administration_type" property="administrationType"/>
        <result column="comments" property="comments"/>
        <association columnPrefix="therapy_" property="therapy"
                     javaType="ru.mospolytech.therapy_cabinet.models.domain.therapy.TherapyCreate"
                     resultMap="ru.mospolytech.therapy_cabinet.mybatis.mappers.TherapyMapper.TherapyCreateMap"/>
        <association columnPrefix="medication_" property="medication"
                     javaType="ru.mospolytech.therapy_cabinet.models.domain.Medication"
                     resultMap="ru.mospolytech.therapy_cabinet.mybatis.mappers.MedicationMapper.MedicationMap"/>
    </resultMap>

    <insert id="create" parameterType="map">
        insert into doc.prescription (id, therapy_id, medication_id, dose_amount, substance_amount, administration_type, comments)
        values (#{prescription.id}, #{prescription.therapyId}, #{prescription.medicationId}, #{prescription.doseAmount},
                #{prescription.substanceAmount}, #{prescription.administrationType.code}, #{prescription.comments});
    </insert>

    <select id="read" parameterType="map" resultMap="PrescriptionMap">
        select prescription.id           as id,
               therapy_id,
               medication_id,
               dose_amount,
               substance_amount,
               administration_type,
               prescription.comments     as comments,
               therapy.id                as therapy_id,
               therapy.start_time        as therapy_start_time,
               therapy.end_time          as therapy_end_time,
               therapy.cabinet           as therapy_cabinet,
               therapy.status            as therapy_status,
               therapy.comments          as therapy_comments,
               therapy.patient_id        as therapy_patient_id,
               medication.id             as medication_id,
               medication.name           as medication_name,
               medication.nomenclature   as medication_nomenclature,
               medication.manufacturer   as medication_manufacturer,
               medication.dose_form      as medication_dose_form,
               medication.dose_val       as medication_dose_val,
               medication.mu             as medication_mu,
               medication.amount         as medication_amount
        from doc.prescription
                 left join doc.therapy therapy on therapy.id = prescription.therapy_id
                 left join doc.medication medication on medication.id = prescription.medication_id
        where prescription.id = #{id};
    </select>

    <update id="update" parameterType="map">
        update doc.prescription
        set
        <if test="prescription.therapyId != null">therapy_id = #{prescription.therapyId},</if>
        <if test="prescription.medicationId != null">medication_id = #{prescription.medicationId},</if>
        <if test="prescription.doseAmount != null">dose_amount = #{prescription.doseAmount},</if>
        <if test="prescription.substanceAmount != null">substance_amount = #{prescription.substanceAmount},</if>
        <if test="prescription.comments != null">comments = #{prescription.comments},</if>
        <if test="prescription.administrationType != null">administration_type = #{prescription.administrationType.code},</if>
        -- FIXME: changed field set to now() even if nothing changed
        changed = now()
        where id = #{id};
    </update>

    <delete id="delete" parameterType="map">
        delete
        from doc.prescription
        where id = #{id};
    </delete>

    <select id="readAll" parameterType="map" resultMap="PrescriptionMap">
        select prescription.id           as id,
               therapy_id,
               medication_id,
               dose_amount,
               substance_amount,
               administration_type,
               prescription.comments     as comments,
               therapy.id                as therapy_id,
               therapy.start_time        as therapy_start_time,
               therapy.end_time          as therapy_end_time,
               therapy.cabinet           as therapy_cabinet,
               therapy.status            as therapy_status,
               therapy.comments          as therapy_comments,
               therapy.patient_id        as therapy_patient_id,
               medication.id             as medication_id,
               medication.name           as medication_name,
               medication.nomenclature   as medication_nomenclature,
               medication.manufacturer   as medication_manufacturer,
               medication.dose_form      as medication_dose_form,
               medication.dose_val       as medication_dose_val,
               medication.mu             as medication_mu,
               medication.amount         as medication_amount
        from doc.prescription
                 left join doc.therapy therapy on therapy.id = prescription.therapy_id
                 left join doc.medication medication on medication.id = prescription.medication_id
            limit #{limit} offset #{offset};
    </select>
</mapper>