<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.mospolytech.therapy_cabinet.mybatis.mappers.TherapyMapper">

    <!--maps-->
    <resultMap id="TherapyMap" type="ru.mospolytech.therapy_cabinet.models.domain.therapy.TherapyRead">
        <id column="id" property="id"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="cabinet" property="cabinet"/>
        <result column="status" property="status"/>
        <result column="comments" property="comments"/>
        <association columnPrefix="patient_" property="patient"
                     javaType="ru.mospolytech.therapy_cabinet.models.domain.Patient"
                     resultMap="ru.mospolytech.therapy_cabinet.mybatis.mappers.PatientMapper.PatientMap"/>
    </resultMap>

    <!--queries-->
    <insert id="create" parameterType="map">
        insert into doc.therapy (patient_id, start_time, end_time, cabinet, status, comments)
        values (#{therapy.patientId}, #{therapy.startTime}, #{therapy.endTime},
                #{therapy.cabinet}, #{therapy.status.code}, #{therapy.comments})
    </insert>

    <select id="read" parameterType="map" resultMap="TherapyMap">
        select therapy.id                        as id,
               patient_id,
               start_time,
               end_time,
               cabinet,
               status,
               comments,
               patient.id                        as patient_id,
               patient.full_name                 as patient_full_name,
               patient.phone_number              as patient_phone_number,
               patient.adverse_reactions         as patient_adverse_reactions,
               patient.date_of_birth             as patient_date_of_birth,
               patient.sex                       as patient_sex
        from doc.therapy
             left join doc.patient patient on patient.id = therapy.patient_id
        where therapy.id = #{id};
    </select>

    <update id="update" parameterType="map">
        update doc.therapy
        set
        <if test="therapy.patientId != null">patient_id = #{therapy.patientId},</if>
        <if test="therapy.startTime != null">start_time = #{therapy.startTime},</if>
        <if test="therapy.endTime != null">end_time = #{therapy.endTime},</if>
        <if test="therapy.cabinet != null">cabinet = #{therapy.cabinet},</if>
        <if test="therapy.status != null">status = #{therapy.status.code},</if>
        <if test="therapy.comments != null">comments = #{therapy.comments},</if>
        -- FIXME: changed field set to now() even if nothing changed
        changed = now()
        where id = #{id};
    </update>

    <delete id="delete" parameterType="map">
        delete
        from doc.therapy
        where id = #{id};
    </delete>

    <select id="readAll" parameterType="map" resultMap="TherapyMap">
        select therapy.id                        as id,
               patient_id,
               start_time,
               end_time,
               cabinet,
               status,
               comments,
               patient.id                        as patient_id,
               patient.full_name                 as patient_full_name,
               patient.phone_number              as patient_phone_number,
               patient.adverse_reactions         as patient_adverse_reactions,
               patient.date_of_birth             as patient_date_of_birth,
               patient.sex                       as patient_sex
        from doc.therapy
             left join doc.patient patient on patient.id = therapy.patient_id
        limit #{limit} offset #{offset};
    </select>

</mapper>