<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.mospolytech.therapy_cabinet.mybatis.mappers.TherapyMapper">

    <!--maps-->
    <resultMap id="TherapyReadMap" type="ru.mospolytech.therapy_cabinet.models.domain.therapy.TherapyRead">
        <id column="id" property="id"/>
        <result column="date" property="date"/>
        <result column="time_period" property="timePeriod"/>
        <result column="status" property="status"/>
        <result column="comments" property="comments"/>
        <association columnPrefix="patient_" property="patient"
                     javaType="ru.mospolytech.therapy_cabinet.models.domain.Patient"
                     resultMap="ru.mospolytech.therapy_cabinet.mybatis.mappers.PatientMapper.PatientMap"/>
    </resultMap>

    <resultMap id="TherapyCreateMap" type="ru.mospolytech.therapy_cabinet.models.domain.therapy.TherapyCreate">
        <id column="id" property="id"/>
        <result column="date" property="date"/>
        <result column="time_period" property="timePeriod"/>
        <result column="status" property="status"/>
        <result column="comments" property="comments"/>
        <result column="patient_id" property="patientId"/>
    </resultMap>

    <resultMap id="CalendarMap" type="ru.mospolytech.therapy_cabinet.models.domain.Calendar">
        <id column="date" property="date"/>
        <result column="morning_count" property="morningCount"/>
        <result column="day_count" property="dayCount"/>
    </resultMap>

    <!--queries-->
    <insert id="create" parameterType="map">
        insert into std_1305_therapy.therapy (patient_id, date, time_period, status, comments)
        values (#{therapy.patientId}, #{therapy.date}, #{therapy.timePeriod.code},
                #{therapy.status.code}, #{therapy.comments})
    </insert>

    <select id="read" parameterType="map" resultMap="TherapyReadMap">
        select therapy.id                        as id,
               patient_id,
               date,
               time_period,
               status,
               therapy.comments                  as comments,
               patient.id                        as patient_id,
               patient.full_name                 as patient_full_name,
               patient.phone_number              as patient_phone_number,
               patient.adverse_reactions         as patient_adverse_reactions,
               patient.date_of_birth             as patient_date_of_birth,
               patient.sex                       as patient_sex,
               patient.email                     as patient_email,
               patient.ambulatory_card           as patient_ambulatory_card,
               patient.contact_person            as patient_contact_person,
               patient.finance_source            as patient_finance_source
        from std_1305_therapy.therapy
             left join std_1305_therapy.patient patient on patient.id = therapy.patient_id
        where therapy.id = #{id};
    </select>

    <update id="update" parameterType="map">
        update std_1305_therapy.therapy
        set
        <if test="therapy.patientId != null">patient_id = #{therapy.patientId},</if>
        <if test="therapy.date != null">date = #{therapy.date},</if>
        <if test="therapy.timePeriod != null">time_period = #{therapy.timePeriod},</if>
        <if test="therapy.status != null">status = #{therapy.status.code},</if>
        <if test="therapy.comments != null">comments = #{therapy.comments},</if>
        -- FIXME: changed field set to now() even if nothing changed
        changed = now()
        where id = #{id};
    </update>

    <delete id="delete" parameterType="map">
        delete
        from std_1305_therapy.therapy
        where id = #{id};
    </delete>

    <select id="readAll" parameterType="map" resultMap="TherapyCreateMap">
        select id,
               patient_id,
               date,
               time_period,
               status,
               comments
        from std_1305_therapy.therapy
        <if test="limit != null and offset != null">limit #{limit} offset #{offset};</if>
    </select>

    <select id="readAllBySearch" parameterType="map" resultMap="TherapyCreateMap">
        select id,
               date,
               time_period,
               status,
               patient_id
        from std_1305_therapy.therapy
        where true
        <if test="patientId != null">and patient_id = #{patientId}</if>
        <if test="startDate != null">and date &gt;= #{startDate}</if>
        <if test="endDate != null">and date &lt;= #{endDate}</if>
        <if test="timePeriod != null">and time_period = #{timePeriod}</if>
        <if test="therapyStatus != null">and status = #{therapyStatus}</if>
    </select>

    <select id="readCalendar" parameterType="map" resultMap="CalendarMap">
        select date, count(*) FILTER (WHERE time_period = 0) as "morning_count", count(*) FILTER (WHERE time_period = 1) as "day_count"
        from std_1305_therapy.therapy
        where date &gt;= #{startDate}::date and date &lt;= #{endDate}::date
        group by date
        order by date
    </select>

</mapper>