<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.mospolytech.therapy_cabinet.mybatis.mappers.UserMapper">
    <!--    Maps    -->
    <resultMap id="UserMap" type="ru.mospolytech.therapy_cabinet.models.domain.user.User">
        <id column="id" property="id"/>
        <result column="login" property="login"/>
        <result column="fullName" property="fullName"/>
        <result column="password" property="password"/>
        <result column="roles" property="roles"
                javaType="java.util.ArrayList" jdbcType="SMALLINT"
                typeHandler="ru.mospolytech.therapy_cabinet.mybatis.type_handlers.UserRoleTypeHandler"/>
    </resultMap>

    <resultMap id="UserDTOMap" type="ru.mospolytech.therapy_cabinet.models.dto.user.UserDTO">
        <id column="id" property="id"/>
        <result column="login" property="login"/>
        <result column="fullName" property="fullName"/>
        <result column="roles" property="roles"
                javaType="java.util.ArrayList" jdbcType="SMALLINT"
                typeHandler="ru.mospolytech.therapy_cabinet.mybatis.type_handlers.UserRoleTypeHandler"/>
    </resultMap>

    <!--    Queries    -->
    <select id="findAllUsers" parameterType="map" resultMap="UserDTOMap">
        select u.id as id,
        u.login as login,
        u.full_name as fullName,
        u.roles as roles
        from std_1305_therapy.customer u
        <if test="limit != null and offset != null">limit #{limit} offset #{offset};</if>
    </select>

    <select id="findUserById" parameterType="map" resultMap="UserDTOMap">
        select u.id        as id,
               u.login     as login,
               u.full_name as fullName,
               u.roles     as roles
        from std_1305_therapy.customer u
        where u.id = #{id}
    </select>

    <insert id="createUser" parameterType="ru.mospolytech.therapy_cabinet.models.domain.user.User"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into std_1305_therapy.customer (id, login, full_name, password, roles)
        values (#{user.id}, #{user.login}, #{user.fullName}, #{user.password},
        <foreach collection="user.roles" item="role" separator=",">
            #{role.id}
        </foreach>);
    </insert>

    <update id="updateUser" parameterType="map">
        UPDATE std_1305_therapy.customer
        SET
        <if test="user.login != null">login = #{user.login}</if>
        <if test="user.fullName != null">,full_name = #{user.fullName}</if>
        <if test="user.password != null">,password = #{user.password}</if>
        <if test="user.roles != null">,roles =
            <foreach collection="user.roles" item="role" separator=",">
                #{role.id}
            </foreach>
        </if>
        WHERE id = #{id}
    </update>

    <delete id="deleteUser" parameterType="map">
        DELETE
        FROM std_1305_therapy.customer
        WHERE id = #{id}
    </delete>

    <select id="findUserByUsername" resultMap="UserDTOMap">
        select u.id        as id,
               u.login     as login,
               u.full_name as fullName,
               u.roles     as roles
        from std_1305_therapy.customer u
        where login = #{username, jdbcType=VARCHAR}
    </select>

    <select id="findAuthenticatedUserByUsername" resultMap="UserMap">
        select u.id        as id,
               u.login     as login,
               u.full_name as fullName,
               u.password  as password,
               u.roles     as roles
        from std_1305_therapy.customer u
        where login = #{username, jdbcType=VARCHAR}
    </select>
</mapper>